#container_navbar {
    display: flex;
    flex-direction: column;
}

#container_menu_logo_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#container_icon {
    display: flex;
    gap: 10px;
}

#container_icon svg {
    cursor: pointer;
    font-size: 30px;
}