#props {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    text-align: left;
    /* position: fixed; */
    /* right: 0; */
    width: 450px;

}

.standard_price {
    text-decoration: line-through;
}

.offer_price {
    color: #CA1111;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.stock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.stock button {
    letter-spacing: -0.2px;
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}

.stock button:hover {
    color: white;
    font-weight: bold;
    background-color: black;
}

.button_no_focus {
    background-color: white;
    color: black;
}

.button_focus {
    color: white;
    font-weight: bold;
    background-color: black;
}

.disabled_button {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 800px) {
    #props {
        width: 100%;
    }
}